h1 {
    font-size: 72px;
    margin: 10px;
    margin-bottom: 0px;
}

.new {
    display: inline;
}

.input {
    margin: 10px;
}

.toDo {
    margin-left: 10px;
    vertical-align: middle;
}

.div-ToDo {
    margin: 10px;
}

#newToDo {
    margin-left: 5px;
}

.top-line {
    display: inline;
    vertical-align: bottom;
}

img.top-line {
    height: 72px;
    width: 72px;
    margin-top: 10px;
    margin-bottom: 5px
}

div.header {
    position: fixed;
    top: 0;
    width: 98.75%;
    background-color: #ffffff;
}

/*
button:hover {
    border-color: #808080;
}

button {
    background-image: url(./x.png);
    background-size: 100%;
    height: 20px;
    width: 20px;
    border-color: #d0d0d0;
}

button.new {
    background-image: url(./+.png);
} */

body {
    margin-top: 120px;
}